body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.7);
}
header h4{
font-size: 20px;
font-weight: bold;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#buttons{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
#buttons input{
    display: flex;
    width: 110px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
p{
    font-weight: bold;
}
label{
    font-weight: normal;
}
input{
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0.5);
    height: 20px;
    padding: 5px;
}
